:root {
  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1240px;
  --gutter: 1em;
}

@custom-media --grid-on screen and (min-width: 30em);
.container {
  margin: 0 auto;
  width: 94%;
  max-width: var(--max-width);
}

.row {
  margin-left: calc(-1 * calc(var(--gutter) / 2));
  margin-right: calc(-1 * calc(var(--gutter) / 2));
}

.row ~ .row {
  margin-top: 1em;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  width: 100%;
  float: left;
}

.columns ~ .columns {
  margin-top: 1em;
}

@media (--grid-on) {
  .columns {
    margin-left: calc(var(--gutter) / 2);
    margin-right: calc(var(--gutter) / 2);
  }
  .columns ~ .columns {
    margin-top: 0;
  }
  .one.columns {
    width: calc(calc(var(--column-width) * 1) - var(--gutter));
  }
  .two.columns {
    width: calc(calc(var(--column-width) * 2) - var(--gutter));
  }
  .three.columns {
    width: calc(calc(var(--column-width) * 3) - var(--gutter));
  }
  .four.columns {
    width: calc(calc(var(--column-width) * 4) - var(--gutter));
  }
  .five.columns {
    width: calc(calc(var(--column-width) * 5) - var(--gutter));
  }
  .six.columns {
    width: calc(calc(var(--column-width) * 6) - var(--gutter));
  }
  .seven.columns {
    width: calc(calc(var(--column-width) * 7) - var(--gutter));
  }
  .eight.columns {
    width: calc(calc(var(--column-width) * 8) - var(--gutter));
  }
  .nine.columns {
    width: calc(calc(var(--column-width) * 9) - var(--gutter));
  }
  .ten.columns {
    width: calc(calc(var(--column-width) * 10) - var(--gutter));
  }
  .eleven.columns {
    width: calc(calc(var(--column-width) * 11) - var(--gutter));
  }
  .twelve.columns {
    width: calc(calc(var(--column-width) * 12) - var(--gutter));
  }
  .offset-by-one.columns {
    margin-left: calc(var(--column-width) * 1);
  }
  .offset-by-two.columns {
    margin-left: calc(var(--column-width) * 2);
  }
  .offset-by-three.columns {
    margin-left: calc(var(--column-width) * 3);
  }
  .offset-by-four.columns {
    margin-left: calc(var(--column-width) * 4);
  }
  .offset-by-five.columns {
    margin-left: calc(var(--column-width) * 5);
  }
  .offset-by-six.columns {
    margin-left: calc(var(--column-width) * 6);
  }
  .offset-by-seven.columns {
    margin-left: calc(var(--column-width) * 7);
  }
  .offset-by-eight.columns {
    margin-left: calc(var(--column-width) * 8);
  }
  .offset-by-nine.columns {
    margin-left: calc(var(--column-width) * 9);
  }
  .offset-by-ten.columns {
    margin-left: calc(var(--column-width) * 10);
  }
  .offset-by-eleven.columns {
    margin-left: calc(var(--column-width) * 11);
  }
  .offset-by-twelve.columns {
    margin-left: calc(var(--column-width) * 12);
  }
}
