/*! anothergrid.css | MIT License */
.container {
  margin: 0 auto;
  width: 94%;
  max-width: 1240px;
}

.row {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}
.row::after {
  clear: both;
}

.columns {
  float: left;
  min-height: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.row ~ .row {
  margin-top: 1em;
}
@media screen and (min-width: 30em) {
  .one.columns {
    width: calc(8.33333% - 1em);
  }
  .two.columns {
    width: calc(16.66666% - 1em);
  }
  .three.columns,
  .one-quarter.columns {
    width: calc(24.99999% - 1em);
  }
  .four.columns,
  .one-third.columns {
    width: calc(33.33332% - 1em);
  }
  .five.columns {
    width: calc(41.66665% - 1em);
  }
  .six.columns,
  .one-half.columns {
    width: calc(49.99998% - 1em);
  }
  .seven.columns {
    width: calc(58.33331% - 1em);
  }
  .eight.columns,
  .two-thirds.columns {
    width: calc(66.66664% - 1em);
  }
  .nine.columns {
    width: calc(74.99997% - 1em);
  }
  .ten.columns {
    width: calc(83.3333% - 1em);
  }
  .eleven.columns {
    width: calc(91.66663% - 1em);
  }
  .twelve.columns {
    width: calc(99.99996% - 1em);
  }

  .offset-by-one.columns {
    margin-left: calc(8.33333% + 0.5em);
  }
  .offset-by-two.columns {
    margin-left: calc(16.66666% + 0.5em);
  }
  .offset-by-three.columns,
  .offset-by-one-quarter.columns {
    margin-left: calc(24.99999% + 0.5em);
  }
  .offset-by-four.columns,
  .offset-by-one-third.columns {
    margin-left: calc(33.33332% + 0.5em);
  }
  .offset-by-five.columns {
    margin-left: calc(41.66665% + 0.5em);
  }
  .offset-by-six.columns,
  .offset-by-one-half {
    margin-left: calc(49.99998% + 0.5em);
  }
  .offset-by-seven.columns {
    margin-left: calc(58.33331% + 0.5em);
  }
  .offset-by-eight.columns,
  .offset-two-thirds.columns {
    margin-left: calc(66.66664% + 0.5em);
  }
  .offset-by-nine.columns {
    margin-left: calc(74.99997% + 0.5em);
  }
  .offset-by-ten.columns {
    margin-left: calc(83.3333% + 0.5em);
  }
  .offset-by-eleven.columns {
    margin-left: calc(91.66663% + 0.5em);
  }
}
@media screen and (max-width: 30em) {
  .row .columns:not([class*='xs-']) {
    width: calc(100% - 1em);
  }

  .row .columns:not([class*='xs-']) ~ .columns:not([class*='xs-']) {
    margin-top: 1em;
  }

  .row .columns[class*='offset-by-'] {
    margin-left: 0.5em;
  }
}
.xs-one.columns {
  width: calc(8.33333% - 1em);
}
.xs-two.columns {
  width: calc(16.66666% - 1em);
}
.xs-three.columns,
.xs-one-quarter.columns {
  width: calc(24.99999% - 1em);
}
.xs-four.columns,
.xs-one-third.columns {
  width: calc(33.33332% - 1em);
}
.xs-five.columns {
  width: calc(41.66665% - 1em);
}
.xs-six.columns,
.xs-one-half.columns {
  width: calc(49.99998% - 1em);
}
.xs-seven.columns {
  width: calc(58.33331% - 1em);
}
.xs-eight.columns,
.xs-two-thirds.columns {
  width: calc(66.66664% - 1em);
}
.xs-nine.columns {
  width: calc(74.99997% - 1em);
}
.xs-ten.columns {
  width: calc(83.3333% - 1em);
}
.xs-eleven.columns {
  width: calc(91.66663% - 1em);
}
.xs-twelve.columns {
  width: calc(99.99996% - 1em);
}
@media screen and (min-width: 30em) {
  .sm-one.columns {
    width: calc(8.33333% - 1em);
  }
  .sm-two.columns {
    width: calc(16.66666% - 1em);
  }
  .sm-three.columns,
  .sm-one-quarter.columns {
    width: calc(24.99999% - 1em);
  }
  .sm-four.columns,
  .sm-one-third.columns {
    width: calc(33.33332% - 1em);
  }
  .sm-five.columns {
    width: calc(41.66665% - 1em);
  }
  .sm-six.columns,
  .sm-one-half.columns {
    width: calc(49.99998% - 1em);
  }
  .sm-seven.columns {
    width: calc(58.33331% - 1em);
  }
  .sm-eight.columns,
  .sm-two-thirds.columns {
    width: calc(66.66664% - 1em);
  }
  .sm-nine.columns {
    width: calc(74.99997% - 1em);
  }
  .sm-ten.columns {
    width: calc(83.3333% - 1em);
  }
  .sm-eleven.columns {
    width: calc(91.66663% - 1em);
  }
  .sm-twelve.columns {
    width: calc(99.99996% - 1em);
  }

  .sm-offset-by-one.columns {
    margin-left: calc(8.33333% + 0.5em);
  }
  .sm-offset-by-two.columns {
    margin-left: calc(16.66666% + 0.5em);
  }
  .sm-offset-by-three.columns,
  .sm-offset-by-one-quarter.columns {
    margin-left: calc(24.99999% + 0.5em);
  }
  .sm-offset-by-four.columns,
  .sm-offset-by-one-third.columns {
    margin-left: calc(33.33332% + 0.5em);
  }
  .sm-offset-by-five.columns {
    margin-left: calc(41.66665% + 0.5em);
  }
  .sm-offset-by-six.columns,
  .sm-offset-by-one-half {
    margin-left: calc(49.99998% + 0.5em);
  }
  .sm-offset-by-seven.columns {
    margin-left: calc(58.33331% + 0.5em);
  }
  .sm-offset-by-eight.columns,
  .sm-offset-two-thirds.columns {
    margin-left: calc(66.66664% + 0.5em);
  }
  .sm-offset-by-nine.columns {
    margin-left: calc(74.99997% + 0.5em);
  }
  .sm-offset-by-ten.columns {
    margin-left: calc(83.3333% + 0.5em);
  }
  .sm-offset-by-eleven.columns {
    margin-left: calc(91.66663% + 0.5em);
  }
}
@media screen and (max-width: 30em) {
  [class*='sm-']:not([class*='xs-']) {
    width: calc(100% - 1em);
    margin-top: 1em;
    margin-left: 0.5em;
  }

  [class*='sm-']:not([class*='xs-']):first-of-type {
    margin-top: 0;
  }
}
@media screen and (min-width: 45em) {
  .md-one.columns {
    width: calc(8.33333% - 1em);
  }
  .md-two.columns {
    width: calc(16.66666% - 1em);
  }
  .md-three.columns,
  .md-one-quarter.columns {
    width: calc(24.99999% - 1em);
  }
  .md-four.columns,
  .md-one-third.columns {
    width: calc(33.33332% - 1em);
  }
  .md-five.columns {
    width: calc(41.66665% - 1em);
  }
  .md-six.columns,
  .md-one-half.columns {
    width: calc(49.99998% - 1em);
  }
  .md-seven.columns {
    width: calc(58.33331% - 1em);
  }
  .md-eight.columns,
  .md-two-thirds.columns {
    width: calc(66.66664% - 1em);
  }
  .md-nine.columns {
    width: calc(74.99997% - 1em);
  }
  .md-ten.columns {
    width: calc(83.3333% - 1em);
  }
  .md-eleven.columns {
    width: calc(91.66663% - 1em);
  }
  .md-twelve.columns {
    width: calc(99.99996% - 1em);
  }

  .md-offset-by-one.columns {
    margin-left: calc(8.33333% + 0.5em);
  }
  .md-offset-by-two.columns {
    margin-left: calc(16.66666% + 0.5em);
  }
  .md-offset-by-three.columns,
  .md-offset-by-one-quarter.columns {
    margin-left: calc(24.99999% + 0.5em);
  }
  .md-offset-by-four.columns,
  .md-offset-by-one-third.columns {
    margin-left: calc(33.33332% + 0.5em);
  }
  .md-offset-by-five.columns {
    margin-left: calc(41.66665% + 0.5em);
  }
  .md-offset-by-six.columns,
  .md-offset-by-one-half {
    margin-left: calc(49.99998% + 0.5em);
  }
  .md-offset-by-seven.columns {
    margin-left: calc(58.33331% + 0.5em);
  }
  .md-offset-by-eight.columns,
  .md-offset-two-thirds.columns {
    margin-left: calc(66.66664% + 0.5em);
  }
  .md-offset-by-nine.columns {
    margin-left: calc(74.99997% + 0.5em);
  }
  .md-offset-by-ten.columns {
    margin-left: calc(83.3333% + 0.5em);
  }
  .md-offset-by-eleven.columns {
    margin-left: calc(91.66663% + 0.5em);
  }
}
@media screen and (min-width: 60em) {
  .lg-one.columns {
    width: calc(8.33333% - 1em);
  }
  .lg-two.columns {
    width: calc(16.66666% - 1em);
  }
  .lg-three.columns,
  .lg-one-quarter.columns {
    width: calc(24.99999% - 1em);
  }
  .lg-four.columns,
  .lg-one-third.columns {
    width: calc(33.33332% - 1em);
  }
  .lg-five.columns {
    width: calc(41.66665% - 1em);
  }
  .lg-six.columns,
  .lg-one-half.columns {
    width: calc(49.99998% - 1em);
  }
  .lg-seven.columns {
    width: calc(58.33331% - 1em);
  }
  .lg-eight.columns,
  .lg-two-thirds.columns {
    width: calc(66.66664% - 1em);
  }
  .lg-nine.columns {
    width: calc(74.99997% - 1em);
  }
  .lg-ten.columns {
    width: calc(83.3333% - 1em);
  }
  .lg-eleven.columns {
    width: calc(91.66663% - 1em);
  }
  .lg-twelve.columns {
    width: calc(99.99996% - 1em);
  }

  .lg-offset-by-one.columns {
    margin-left: calc(8.33333% + 0.5em);
  }
  .lg-offset-by-two.columns {
    margin-left: calc(16.66666% + 0.5em);
  }
  .lg-offset-by-three.columns,
  .lg-offset-by-one-quarter.columns {
    margin-left: calc(24.99999% + 0.5em);
  }
  .lg-offset-by-four.columns,
  .lg-offset-by-one-third.columns {
    margin-left: calc(33.33332% + 0.5em);
  }
  .lg-offset-by-five.columns {
    margin-left: calc(41.66665% + 0.5em);
  }
  .lg-offset-by-six.columns,
  .lg-offset-by-one-half {
    margin-left: calc(49.99998% + 0.5em);
  }
  .lg-offset-by-seven.columns {
    margin-left: calc(58.33331% + 0.5em);
  }
  .lg-offset-by-eight.columns,
  .lg-offset-two-thirds.columns {
    margin-left: calc(66.66664% + 0.5em);
  }
  .lg-offset-by-nine.columns {
    margin-left: calc(74.99997% + 0.5em);
  }
  .lg-offset-by-ten.columns {
    margin-left: calc(83.3333% + 0.5em);
  }
  .lg-offset-by-eleven.columns {
    margin-left: calc(91.66663% + 0.5em);
  }
}
